<EditForm Model="clientes" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">

        <label>DNI</label>
        <div>
            <inputText class="form-control" @bind-Value="@clientes.DNI"/>
        </div>

        <label>Nombre</label>
        <div>
            <inputText class="form-control" @bind-Value="@clientes.Nombre" />
            <ValidationMessage For="@(() => clientes.Nombre)" />
        </div>
     
        <label>Apellido</label>
        <div>
            <inputText class="form-control" @bind-Value="@clientes.Apellido" />
            <ValidationMessage For="@(() => clientes.Apellido)" />
        </div>

        <label>Localidad</label>
        <div>
            <inputText class="form-control" @bind-Value="@clientes.Localidad" />
            <ValidationMessage For="@(() => clientes.Localidad)" />
        </div>

        <label>Domicilio</label>
        <div>
            <inputText class="form-control" @bind-Value="@clientes.Domicilio" />
            <ValidationMessage For="@(() => clientes.Domicilio)" />
        </div>

          <label>nroTelfonico</label>
        <div>
            <inputText class="form-control" @bind-Value="@clientes.nroTelfonico" />
     
         </div>

    </div>

    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>


</EditForm>



@code {

    [Parameter] public Clientes clientes { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}
