@page "/Cliente"
@inject IHttpService http

<h3>Cliente</h3>

<a class="btn btn-primary" href="Cliente/Crear">
    <span class="oi oi-plus" aria-hidden="true"></span>
    Nuevo Cliente
</a>


<table>

    @if (Clientes == null)
    {
        <tr>Cargando...</tr>
    }
    else if (Clientes.Count == 0)
    {
        <tr>Todavía no hay Clientes</tr>
    }
    else
    {
        @foreach (var item in Clientes)
        {
            <tr>
                <td>@item.DNI</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Localidad</td>
                <td>@item.Domicilio</td>
                <td>@item.nroTelfonico</td>

                @*<td>
        <button class="btn btn-danger"
        @onclick="()=>Eliminar(item)">
        Borrar
        </button>
        </td>*@
                <td>
                    <a class="btn btn-primary"
               href="Cliente/Editar/@item.DNI">
                        Editar Datos
                    </a>
                </td>

                <td>
                    <a class="btn btn-primary"
               href="Vehiculos">
                        Ver Vehiculos
                    </a>
                </td>

            </tr>
        }
    }
</table>


@code
{
    List<Clientes> Clientes = new List<Clientes>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Clientes>>("api/Clientes");
        if (!respuesta.Error)
        {
            Clientes = respuesta.Respuesta;
        }
    }
}
